# Lombok 허용 범위 (TECH_STACK 6장 결정): @Getter, @RequiredArgsConstructor, @Builder 만 쓴다
# 아래 어노테이션은 쓰면 컴파일 오류가 난다
config.stopBubbling = true
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.setter.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.noArgsConstructor.flagUsage = error
lombok.toString.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.val.flagUsage = error
lombok.var.flagUsage = error
